.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.main-container {
	background-color: ivory;
	grid-row: auto;
	padding-top: 2px;
}

.container {
	margin-top: 0px;
}

.jumbotron-fluid {
	text-align: center;
	padding-top: 8px;
}

button {
	background-color: LightBlue;
	margin-bottom: 10px;
	border-radius: 8px;
	margin-left: 2px;
}
img {
	position: relative;
}

#animals-view {
	margin-top: 2px;
}

.subContainer {
	display: grid;
	margin-left: 20px;
}

.submitButton {
	border-radius: 4px;
	background-color: LightBlue;
	max-width: 200px;
	text-align: center;
	color: red;
	float: right;
	


}